/* MENU BURGER */

#menu-desktop {
    display: none;
}


#menuToggle {
    display: block;
  position: fixed;
  left: 20px;
  top : 20px;
  z-index: 100;
}


#menuToggle span {
  display: block;
  position : relative;
  z-index: 200;
  width: 30px;
  border-radius: 20px;
  height: 3px;
  margin: 6px 0;
  background: #000;
  transition: all 0.3s ease;
  
}

#burger {
    cursor: pointer;
}


#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  background: #ffffff;
  padding: 80px 30px;
  list-style: none;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  z-index: 5;
}

#menu li {
  margin: 20px 0;
}

#menu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1.2rem;
}


#logo-menu-burger {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
  color: rgb(0, 0, 0);
}


#menuToggle.active #menu {
  transform: translateX(0);
}


#menuToggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(7px, 7px);
}

#menuToggle.active span:nth-child(2) {
  opacity: 0;
}

#menuToggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}




/* GLOBAL */
body {
    font-size: 12px;
}

.body {
    height: 100%;
}

h3 {
    font-size: 20px;
    padding: 0;
    padding-bottom: 20px;

    margin: 0;
    /* width: 200px; */
    text-align: center;
}

.i-left {
    font-size: 15px;
    margin-right: 10px;
}

.i-right {
    font-size: 15px;
    margin-left: 10px;
}



h5 {
    font-size: 1rem;
}

.card h6 {
    font-size: 1.2rem;
}

#up {
    display : none;
}

/* HEADER */
nav {
    height : 75px;
}


header h2 {
    font-size: 1.5rem;
}

/* PRESENTATION */

#presentation-texte {
    font-size: 14px;
}

#boutons-presentation {
    flex-direction: column;
}


/* REALISATIONS */

.content-realisation-item-mobile p {
    font-size: 13px;
}


.card-container {
    margin-top: 50px;
    width: 270px;
    border: none;
}

.card {
    width: 270px;
}

.card-front-encart {
    height: 300px;
    width: 250px;
    flex-direction: column;
    padding: 20px;
}



.content-realisation-item-mobile {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
}

.content-realisation-item-mobile i {
    font-size: 25px;
    margin: 5px;
}

.content-realisation-item {
    height: 400px;
    flex-direction: column;
}

.cacher {
    display : none;
}

/* COMPETENCES */

#bloc-competences {
    margin-top: 100px;
    padding-left: 0;
    border-left: none;
}

#bloc-competences h3 {
    padding-bottom: 20px;
    margin-top: 100px;
}

#bloc-autres i {
    font-size: 15px;
}

#bloc-autres h3 {
    font-size: 20px;
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
    
}


#competences {
    padding: 20px;
}

.container-competences {
    display: none;
}

.container-competences-mobile {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 250px;
}

@media (min-width: 300px) and (max-width: 750px) {
    .container-competences-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }
}


.square-competence {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 10px;

}

.tooltip3 {
    /* Définit une position du tooltip plus à gauche (car léger décalage) */
    right: -65px;
}

.tooltip4 {
    /* Définit une position du tooltip plus à gauche (car léger décalage) */
    right: -60px;
}

.tooltip5 {
    /* Définit une position du tooltip plus à gauche (car léger décalage) */
    right: -65px;
}

#square1 {
    background-color: #000000;
    color: white;
}

#square2 {
    background-color: #212121;
    color: white;
}

#square3 {
    background-color: #3d3d3d;
    color: white;
}

#square4 {
    background-color: #666666;
    color: white;
}

#square5 {
    background-color: #9d9d9d;

}

#square6 {
    background-color: #cbcbcb;

}